<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet"   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script   src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Grupos</title>
</head>

<body>
<h1 style="text-align: center">Sistema de Gerenciamento de Projetos</h1>

<article>
<h2 style="text-align: center">Grupos</h2>

<div class="container">
<table class="table table-striped">
  <tr>
      <th>Nome</th>
      <th>Nº de integrantes</th>
      <th>Data de criação</th>
  </tr>
  {% for name, members, time in groups %}
  <tr>
    <td>{{name}}</td>
    <td>{{members}}</td>
    <td>{{time}}</td>
  </tr>
  {% endfor %}
</table>
</div>
</article>

<footer>
  <p><a href="../">&#8592; Voltar para a página principal</a></p>
</footer>
</body>

</html>
