<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Projetos</title>
  </head>

  <body>
    <h1 style="text-align: center">Sistema de Gerenciamento de Projetos</h1>

    <article>
      <h2 style="text-align: center">Projetos</h2>
      <p> Crie um novo projeto <a href="new/">aqui</a>.</p>

      <div class="container">
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Titulo </th>
              <th> Descrição </th>
              <th> Data </th>
              <th> Grupo </th>
            </tr>
          </thead>
          <tbody>
            {% for projeto in projetos %}
            <tr>
              <td>{{projeto.titulo}}</td>
              <td>{{projeto.descricao}}</td>
              <td>{{projeto.data_horario_criacao}}</td>
              <td>{{projeto.grupo.nome}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </article>

    <footer>
      <p><a href="../">&#8592; Voltar para a página principal</a></p>
    </footer>
  </body>

</html>
