<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet"   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script   src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Usuários</title>
</head>

<body>
<h1 style="text-align: center">Sistema de Gerenciamento de Projetos</h1>

<article>
<h2 style="text-align: center">Usuários</h2>
<p>Crie um novo usuário <a href="new/">aqui</a>.</p>
<div class="container">
<table class="table table-striped">
  <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Data de criação</th>
      <th></th>
      <th></th>
  </tr>
  {% for usuario in usuarios %}
  <tr>
    <td>{{usuario.username}}</td>
    <td>{{usuario.email}}</td>
    <td>{{usuario.data_horario_criacao}}</td>
    <td><a href="{{usuario.username}}/edit/">Alterar</a></td>
    <td><a href="{{usuario.username}}/delete/">Remover</a></td>
  </tr>
  {% endfor %}
</table>
</div>
</article>

<footer>
  <p><a href="../">&#8592; Voltar para a página principal</a></p>
</footer>
</body>

</html>
