{% load staticfiles %}
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet"   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script   src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Criação/edição de usuário</title>
</head>

<body>
<h1>Sistema de Gerenciamento de Projetos</h1>

<h2>Criação/edição de usuário</h2>
<p>Preencha os campos abaixo para criar/editar um usuário.</p>
{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
  {{form.as_p}}
  <button type="submit" class="save btn btn-default">Salvar</button>
</form>
{% endblock %}

<footer>
  <p><a href="../../">&#8592; Voltar para a página de usuários</a></p>
  <p><a href="../../../">&#8592; Voltar para a página principal</a></p>
</footer>
</body>

</html>
