<html lang="pt-br">

<head>
<meta charset="utf-8">
<title>Usuários</title>
</head>

<body>
<h1>Sistema de Gerenciamento de Projetos</h1>

<article>
<h2>Usuários</h2>
<p>Crie um novo usuário <a href="new/">aqui</a>.</p>
<table>
  <tr>
      <th>Username</th>
      <th>Email</th>
  </tr>
  {% for usuario in usuarios %}
  <tr>
    <td>{{usuario.username}}</td>
    <td>{{usuario.email}}</td>
    <td><a href="{{usuario.username}}/edit/">Alterar</a></td>
    <td><a href="{{usuario.username}}/delete/">Remover</a></td>
  </tr>
  {% endfor %}
</table>
</article>

<footer>
<p><a href="../">&#8592; Voltar para a página principal</a></p>
</footer>
</body>

</html>
