<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet"   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script   src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script   src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Remoção de usuário</title>
</head>

<body>
<h1 style="text-align: center">Sistema de Gerenciamento de Projetos</h1>

<article>
<h2 style="text-align: center">Remoção de usuário</h2>

<div class="container">
<table class="table table-striped">
  <tr>
    <th>Username</th>
    <th>Email</th>
  <tr>
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
  </tr>
</table>
</div>

<p>Você tem certeza que quer remover <b>{{ user.username }}</b>?</p>

{% block content %}
<form method="POST" class="post-form">{% csrf_token %}
  <button type="submit" class="save btn btn-default">Sim</button>
</form>
{% endblock %}
</article>

<footer>
  <p><a href="../../">&#8592; Voltar para a página de usuários</a></p>
  <p><a href="../../../">&#8592; Voltar para a página principal</a></p>
</footer>
</body>

</html>
